{% load filters %}
<div class="panel is-info"
     hx-get="{% url "detections-view" %}"
     hx-trigger="every 5s"
     hx-swap="outerHTML">
  <div class="panel-heading is-clearfix">
    <span class="is-pulled-left">Latest Detections</span>
    <span class="is-pulled-right">Discovered: {{ total_discovered }}</span>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Common</th>
        <th>Scientific</th>
        <th>Count</th>
        <th>
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="mic-outline"></ion-icon>
            </span>
            Score
          </span>
        </th>
        <th>
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="location-outline"></ion-icon>
            </span>
            Score
          </span>
        </th>
        <th>Last Detected</th>
      </tr>
    </thead>
    <tbody>
      {% for date, species in detections.items %}
        <tr>
          <th colspan="6" class="title is-5">{{ date }}</th>
        </tr>
        {% for s in species %}
          <tr>
            <td>
              <a href="{{ s.link }}" target="_blank">{{ s.common_name }}</a>
            </td>
            <td>{{ s.scientific_name }}</td>
            <td>{{ s.sample_count }}</td>
            <td>{{ s.audio_confidence|percentage }}</td>
            <td>{{ s.location_confidence|percentage }}</td>
            <td title="{{ s.last_detected_at }}">{{ s.last_detected_at|humanize }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
