{% load filters %}
<div class="panel is-info"
     hx-get="{% url "detections-view" %}"
     hx-trigger="every 5s">
  <div class="panel-heading is-clearfix">
    <span class="is-pulled-left">Latest Detections</span>
    <span class="is-pulled-right">Discovered: {{ total_discovered }}</span>
  </div>
  <div class="panel-block">
    <div class="columns is-flex-grow-1">
      <div class="column is-3">
        <strong>Common</strong>
      </div>
      <div class="column is-3">
        <strong>Scientific</strong>
      </div>
      <div class="column is-1">
        <strong>Count</strong>
      </div>
      <div class="column">
        <strong>A. Score</strong>
      </div>
      <div class="column">
        <strong>L. Score</strong>
      </div>
      <div class="column is-2">
        <strong>Detected</strong>
      </div>
    </div>
  </div>
  {% for date, species in detections.items %}
    <div class="panel-block">
      <span class="title is-5">{{ date }}</span>
    </div>
    {% for s in species %}
      <div class="panel-block">
        <div class="columns is-flex-grow-1">
          <div class="column is-3">
            <a href="https://www.allaboutbirds.org/guide/{{ s.common_name | replace("'","") | replace(" ","_") | urlencode }}"
               target="_blank">{{ s.common_name }}</a>
          </div>
          <div class="column is-3">{{ s.scientific_name }}</div>
          <div class="column is-1">{{ s.sample_count }}</div>
          <div class="column">{{ s.audio_confidence|percentage }}</div>
          <div class="column">{{ s.location_confidence|percentage }}</div>
          <div class="column is-2">{{ s.last_detected_at|humanize }}</div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
