{% load static %}
<nav id="nav" class="navbar">
  <div class="navbar-brand">
    <a href="{% url 'home-view' %}" class="navbar-item">
      <img src="{% static 'web/logo.png' %}"
           alt="Birdnet Scout Logo"
           width=""
           height="" />
      <span class="title is-4">Scout</span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <span class="icon-text">
        <i class="icon">
          <ion-icon name="location-outline"></ion-icon>
        </i>
        {% if config.location.city %}
          <span>{{ config.location.city }}, {{ config.location.region }}</span>
        {% else %}
          <span>Unknown</span>
        {% endif %}
      </span>
    </div>
    <div class="navbar-item">
      <a href="{% url 'settings-view' %}" class="button is-ghost">
        <i class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </i>
        <span>Settings</span>
      </a>
    </div>
  </div>
</nav>
