{% extends "base.html" %}
{% block content %}
  <div class="section">
    <div class="container">
      <h2 class="title is-2">Settings</h2>
      <form class="box" action={% url 'settings-view' %} method="post">
        {% csrf_token %}
        <section>
          <h3 class="title is-3">Detection</h3>
          <div class="columns">
            <div class="column">{% include "components/input_field.html" with field=config_form.min_audio_confidence %}</div>
            <div class="column">{% include "components/input_field.html" with field=config_form.min_location_confidence %}</div>
          </div>
          <div class="field is-grouped is-grouped-right">
            <span class="control">
              <a class="button" href="{% url 'home-view' %}">Cancel</a>
            </span>
            <span class="control">
              <button type="submit" class="button is-primary">Save</button>
            </span>
          </div>
        </section>
      </form>
    </div>
  </div>
{% endblock content %}
