<div hx-get="/detections" hx-trigger="every 5s">
  {% for date, species in detections.items() %}
    <span class="title is-5">{{ date }}</span>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Count</th>
          <th>Common</th>
          <th>Scientific</th>
          <th>A. Score</th>
          <th>L. Score</th>
          <th>Coords</th>
          <th>Detected</th>
        </tr>
      </thead>
      <tbody>
        {% for s in species %}
          <tr>
            <td>{{ s.sample_count }}</td>
            <td>{{ s.common_name }}</td>
            <td>{{ s.scientific_name }}</td>
            <td>{{ s.audio_confidence | percentage }}</td>
            <td>{{ s.location_confidence | percentage }}</td>
            <td>{{ s.location }}</td>
            <td>{{ s.created_at|humanize }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>
