<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Birdnet Scout: Identify bird species from audio recordings">
    <meta name="keywords" content="bird identification, machine learning">
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='stylesheet.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="#" class="navbar-item">
            <img src="{{ url_for('static', filename='logo.png') }}"
                 alt="Birdnet Scout Logo" />
            <span class="title is-4">Scout</span>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">Discovered: {{ data.total_discovered }}</div>
          <div class="navbar-item">
            <a hx-post="/update-location" class="button is-ghost" hx-swap="none">Update Location</a>
          </div>
          <div class="navbar-item">{{ config.location.city }}, {{ config.location.region }}</div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">{% include "detections.html" %}</div>
    </section>
  </body>
</html>
